hr{
    color: white;
    size: 10px;
     margin-top: 15px;
}

.social-links li {
  list-style: none;
}

.upperSection {
   display: flex;          
  justify-content: space-between; 
  align-items: center;    
  padding: 10px 20px; 
}
.social-links {
  display: flex;
  gap: 15px; 
  padding: 0;
  margin: 0;
}

.upperSection p {
  margin: 0;
font-size: 25px;
}

  .social-links img {
  width: 40px;
  filter: invert(1)
}

body {
  font-family: 'WDXL Lubrifont TC', sans-serif;
  background-color: black;
  color: aliceblue;
}



.containerB {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;         
}

.buttonFight {
  height: 70px;
  width: 270px;
  font-family: 'WDXL Lubrifont TC', sans-serif;
  font-size: 50px;
}